:root{
  --black : #000000;
  --light-black : rgb(34, 34, 34);
  --off-white   : rgb(196, 196, 196);
  --blue-greenish: rgb(170, 170, 170);
  --light-grey  : rgb(112, 112, 112);
  --dark-blue-blur: #0c0e15e4;
  --dark-blue   : #171926;
  --blue-shine : #036ced;
}


*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

main{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: var(--blue-greenish);
}

header{
  width: 100%;
  height: 60px;
  background-color: var(--dark-blue-blur);
  border-bottom: 1px solid var(--light-grey);
}

nav{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.logo h1{
  color: var(--off-white);
}

.nav-links li{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links li a{
  text-decoration: none;
  color: var(--off-white);
  margin: 0px 10px 0px 10px;
  font-weight: bold ;
}

.sign-up button,
.lets-start button{
  padding: 10px 30px;
  border: var(--off-white) 1px solid;
  font-weight: bold;
  background-color: transparent;
  color: var(--off-white);
  position: relative;
  cursor: pointer;
  transition: all linear 0.2s;
  z-index: 10;
}

.sign-up button::after,
.lets-start button::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--off-white);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.2s;
}

.sign-up button:hover::after,
.lets-start button:hover::after{
  height: 100%;
}

.sign-up button:hover,
.lets-start button:hover{
  color: var(--dark-blue);
}
section,
section .container{
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  background-image: url(12804207_5073414.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-content{
  width: 60%;
  height: 60%;
  border-radius: 10px;
  /* background-color: var(--dark-blue-blur); */
  /* box-shadow: 0px 0px 20px var(--blue-shine); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* animation: change-color 3s infinite linear ;                         */
}

@keyframes change-color {
  50%{
    box-shadow: 0px 0px 60px var(--blue-shine);
  }

  100%{
    box-shadow: 0px 0px 20px var(--blue-shine);
  }
}

.title{
  width: 50%;
}

.title h1{
  margin-top: 100px;
  color: var(--off-white);
  font-family: "Consolas";
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

.title p{
  color: var(--off-white);
  font-family: "Consolas";
  text-align: center;
}

@media (max-width:920px) {
  .welcome-content{
    background-color: transparent;
    animation: none;
    box-shadow: none;
  }
 .title h1{
  font-size: 30px;
  font-weight: bold;
 } 

 .title p{
  font-size: 16px;
 }
}
/* no chnge */
